# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Environment_config is generated per node.
src/utils/environment_config.hh
test/utils/environment_config.hh

# Binaries
bin/

# Ignore generated benchmark binaries / run outputs under examples
examples/**/bin/

# event file
src/core/pmu/cpu/perf/events

# lib
lib

# tools builds
tools/beacon_rapl/optkit_beacon_rapl
tools/probe/optkit_probe

examples
