[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/libpfm4"]
	path = lib/libpfm4
	url = https://github.com/wcohen/libpfm4.git
[submodule "lib/msr-safe"]
	path = lib/msr-safe
	url = https://github.com/LLNL/msr-safe.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/FlameGraph"]
	path = lib/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "lib/premake5"]
	path = lib/premake5
	url = https://github.com/premake/premake-core.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = ../../pybind/pybind11
	branch = stable
